*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background: #FFFFFF url("./images/bg.jpg") no-repeat left top fixed;
    padding-bottom: 40px;
}

header footer{
    width: 100%;
    position: fixed;        
    background: #333;
    padding: 10px 0
}

header{
    display: flex;
    align-items: center;
    height:70px ;
    justify-content: space-evenly;
    background-color: #ffffff10;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.ico{
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

.navegador ul {
    display: flex; 
}

.navegador ul li{
    list-style-type: none;
    padding-right: 14px;
}

main{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;

}
.container{
    max-width: 350px;
    width: auto;
    height: 300px;
    background-color: #ffffff10;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    margin: 20px 30px;

}

.card{
    width: 80%;
    margin: 0 auto;
}

.card img{
    width: 90%;
    height: auto;
    margin: 20px 10px;
}

